body {
    font-family: 'Georgia';
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #838383;
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
}

header {
    background-image: url('Encabezado.png');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    color: white;
    padding: 100px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e1e4e8;
    width: 100%;
    height: auto;
    min-height: 150px;
    box-sizing: border-box;
    margin: 0;
}

header h1 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 500;
}

header .logo {
    max-height: 120px;
}

.header-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.header-content .logo {
    max-height: 80px;
    margin-right: 10px;
}

.header-content h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #0366d6;
}

main {
    background-image: url('main.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex: 1;
    padding: 20px;
    background-color: #353535;   
    width: 100%;
    box-sizing: border-box;
    margin-top: 0; 
    position: relative; 
}

.tecnica {
    background-color: rgba(12, 12, 12, 0.24); 
    padding: 20px;
    margin-bottom: 20px;
}

.teorica {
    background-color: rgba(12, 12, 12, 0.24); 
    padding: 20px;
    margin-bottom: 20px;
}

.magisterio {
    background-color: rgba(12, 12, 12, 0.24); 
    padding: 20px;
    margin-bottom: 20px;
}

.bachillerato {
    background-color: rgba(12, 12, 12, 0.24); 
    padding: 20px;
    margin-bottom: 20px;
}

.salud {
    background-color: rgba(12, 12, 12, 0.24); 
    padding: 20px;
    margin-bottom: 20px;
}

.carrera-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.carrera-box {
    border: 5px solid #000000;
    border-radius: 20px;
    padding: 20px;
    width: calc(33.333% - 20px);
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    margin-bottom: 20px;
    opacity: 0.8; 
}

#peritoContador {
    background-color: rgba(255, 215, 0, 0.8); 
}

#administracion {
    background-color: rgba(144, 238, 144, 0.8); 
}

#electronica {
    background-color: rgba(255, 160, 122, 0.8); 
}

#dibujoTecnico {
    background-color: rgba(173, 216, 230, 0.8); 
}

#bachIndustrial {
    background-color: rgba(87, 158, 143, 0.8); 
}

#magisterio {
    background-color: rgba(255, 204, 203, 0.8); 
}

#Mecánica {
    background-color: rgba(219, 75, 75, 0.8); 
}

#bachEducación {
    background-color: rgba(106, 50, 143, 0.8); 
}

#enfermeriaMedicina {
    background-color: rgba(218, 218, 218, 0.8); 
}

#EducaciónMusical {
    background-color: rgba(158, 187, 103, 0.8); 
}

.carrera-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carrera-box h2 {
    font-size: 20px;
    margin-top: 0;
    color: #252525;
}

.carrera-info {
    display: none;
    margin-top: 15px;
    color: #252525;
}

.carrera-box img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    background-image: url('footer.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #FFFFFF;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
}

#root {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media (max-width: 1200px) {
    header {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }
}

@media (max-width: 768px) {
    header {
        padding: 15px;
        background-size: contain; /* Ajusta la imagen de fondo para dispositivos más pequeños */
        background-position: center;
    }

    header h1 {
        font-size: 1.2rem;
    }

    .header-content {
        flex-direction: column;
        align-items: center;
    }

    .header-content h1 {
        font-size: 1.5rem;
        margin-bottom: 5px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 5px 0;
    }

    .carrera-box {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    header {
        padding: 10px;
        height: auto;
        min-height: 100px; /* Ajusta la altura mínima para dispositivos pequeños */
        background-size: cover; /* Ajusta la imagen de fondo para dispositivos más pequeños */
    }

    header h1 {
        font-size: 1rem;
    }

    .header-content {
        flex-direction: column;
        align-items: center;
    }

    .header-content h1 {
        font-size: 1.2rem;
        margin-bottom: 5px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 5px 0;
    }

    .carrera-box {
        width: calc(100% - 20px);
    }
}
