body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; 
    color: #333;
    margin: 0;
    padding: 0;
}

/* Estilo del encabezado */
header {
    background-color: #ff6f61; 
    color: white;
    padding: 20px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

header img.logo {
    max-height: 60px;
}

/* Estilos de la navegación */
nav {
    background-color: #ffb74d;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}


main {
    padding: 20px;
    background-color: #fff9c4;
}

.carrera-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.carrera-box {
    background-color: #FFFFFF; 
    border: 1px solid #e7e7e7; 
    border-radius: 5px;
    padding: 20px;
    width: calc(33.333% - 20px);  
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    margin-bottom: 20px;
}

.carrera-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
}

.carrera-box h2 {
    font-size: 20px;
    margin-top: 0;
    color: #333; 
}

.carrera-info {
    display: none;
    margin-top: 15px;
}

.carrera-box img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
}

.carrera-info {
    display: none;
}

footer {
    background-color: #2883ad; 
    color: #FFFFFF;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}


@media (max-width: 768px) {
    .carrera-box {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .carrera-box {
        width: calc(100% - 20px); 
    }
}
